/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.border_right {
  float: left;
  padding-left: 2%;
}

.follow {
  float: left;
  padding-left: 2%;
}

#box1 {
  float: left;
  width: 65%;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 25px;
}

#box2 {
  float: left;
  width: 32.9%;
  margin-bottom: 10px;
}
#box3 {
  clear: both;
  float: left;
  width: 31.5%;
  margin-top: 10px;
  margin-right: 20px;
}

#box4{
  float: left;
  width: 31.5%;
  margin-top: 10px;
  margin-right: 20px;
}

#box5 {
  float: left;
  width: 32.8%;
  margin-top: 10px;
  padding-bottom: 12px;
}
